<!DOCTYPE html>

<html>
  <head>
    <!-- Compiled Stylesheet -->
    {{{styles}}}

    <!-- Typekit -->
    <script src="//use.typekit.net/tme5fzo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Faux Rendering Script -->
    <script src="./js/vendor/jquery-1.11.0.min.js"></script>
    <script src="./js/vendor/handlebars.js"></script>
    <script>
      $(function() {
        var options = {
              spot: {
                name: 'blue',  // Default is blue
                hex: '#45B9D0'
              },
              flip: false
            }
          , spotColors = [
              {
                name: 'green',
                hex: '#6EB854'
              }, 
              {
                name: 'orange',
                hex: '#D9A12D'
              }, 
              {
                name: 'red',
                hex: '#E84235'
              }, 
              {
                name: 'blue',
                hex: '#65DFF9'
              }
            ];

        // Add spot color & flip options
        var firstName = '{{first}}'
          , ch = firstName.toLowerCase().charAt(0)
          , code = ch.charCodeAt(0) - 96;

        if (code <= 6) {
          options.spot = spotColors[0];
        }
        else if (code <= 12 && code > 6) {
          options.spot = spotColors[1];
          options.flip = true;
        }
        else if (code <= 18 && code > 12) {
          options.spot = spotColors[2];
        }
        else {
          options.spot = spotColors[3];
          options.flip = true;
        }

        // Find all emphasis tags and add spot color
        $('.emphasis').attr('style', 'color: ' + options.spot.hex + ';');
        $('.dynamic').addClass(options.spot.name);

        // Add class if signature should be flipped
        if (options.flip) {
          $('.signature').addClass('flip');
        }
      });
    </script>
  </head>

  <body class="variant-{{#if card_class}}{{card_class}}{{else}}easy{{/if}}">
    <div class="card" style="background-image: url('{{base_url}}/img/states/{{#if state}}{{state}}{{else}}AZ{{/if}}.jpg');">
    
      <!-- Easy variant -->
      <div class="easy">
        <div class="card-content">
          <div class="card-copy">
            <div class="line target">
              <div class="greeting">
                <div class="photo-wrapper">
                  <img src="{{base_url}}/img/senators/{{#if target}}{{target.last}}{{else}}Boxer{{/if}}.jpg">
                </div>
                <span class="text">Senator {{target.last}},</span>
              </div>
            </div>
            <div class="line one">Please oppose passing legislation</div>
            <div class="line two">
              <span class="left">In the</span>
              <span class="absolute">
                <div class="dynamic lame-duck"></div>
              </span>
              <span class="right">Session<span class="hanging-period">.</span></span>
            </div>
            <div class="line three">
              <div class="hr top"></div>
              I&rsquo;m urging you to <span class="emphasis">wait <span class="dynamic underline"></span></span> for the next congress<span class="hanging-period">.</span>
              <div class="hr bottom"></div>
            </div>
            <div class="signature">
              <div class="user-info">
                <div class="photo-wrapper">
                  <img src="./img/placeholder-avatar.jpg">
                </div>
                <div class="name">{{first}} {{last}}</div>
                <div class="location emphasis">{{city}}, {{state}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Medium variant -->
      <div class="medium">
        <div class="card-content">
          <div class="card-copy">
            <div class="greeting">
              <div class="photo-wrapper">
                <img src="{{base_url}}/img/senators/{{target.last}}.jpg">
              </div>
              <span class="text">Hey, Senator {{target.last}}...</span>
            </div>
            <div class="line one">
              <span class="dynamic no"></span> Lame duck legislation!
            </div>
            <div class="line two">
              <div class="hr top"></div>
              <div class="signature">
                <div class="photo-wrapper">
                  <img src="./img/placeholder-avatar.jpg">
                </div>
                <div class="user-info">
                  <div class="message">I&rsquo;m <strong class="emphasis">{{first}}</strong> from <strong class="emphasis">{{city}}, {{state}}</strong> and I&rsquo;m against passing <strong class="emphasis">any</strong> legislation during the lame duck session.</div>
                  <div class="combined-info emphasis">{{first}} {{last}} <span class="bullet">&bullet;</span> {{city}}, {{state}}</div>
                </div>
              </div>
              <div class="hr bottom"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Heavy variant -->
      <div class="heavy">
        <div class="card-content">
          <div class="card-copy">
            <div class="greeting">
              <div class="photo-wrapper">
                <img src="{{base_url}}/img/senators/{{target.last}}.jpg">
              </div>
              <span class="text">Sorry, {{target.first}}...</span>
            </div>
            <div class="line one">
              <div class="hr top"></div>
              I voted for a new senate to <span class="dynamic stop"></span>
            </div>
            <div class="line two">
              Harry Reid&rsquo;s radical agenda!
              <div class="hr bottom"></div>
            </div>
            <div class="line three">
              <div class="signature">
                <div class="photo-wrapper">
                  <img src="./img/placeholder-avatar.jpg">
                </div>
                <div class="user-info">
                  <div class="message"><strong class="emphasis">Say no</strong> to lame duck legislation!<br>It&rsquo;s <strong class="emphasis">shadow governing!</strong></div>
                  <div class="combined-info">{{first}} {{last}} <span class="bullet">&bullet;</span> {{city}}, {{state}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Positive variant -->
      <div class="positive">
        <div class="card-content">
          <div class="card-copy">
            <div class="line target">
              <div class="greeting">
                <div class="photo-wrapper">
                  <img src="{{base_url}}/img/senators/{{target.last}}.jpg">
                </div>
                <span class="text">Dear Senator {{target.last}},</span>
              </div>
            </div>
            <div class="line one">
              <div class="hr top"></div>
              Thank you for taking a <span class="emphasis">firm stance</span>
            </div>
            <div class="line two">On opposing Harry Reid&rsquo;s</div>
            <div class="line three">
              Radical <span class="emphasis">lame duck</span> agenda!
              <div class="hr bottom"></div>
            </div>
            <div class="signature">
              <div class="user-info">
                <div class="photo-wrapper">
                  <img src="./img/placeholder-avatar.jpg">
                </div>
                <div class="name">{{first}} {{last}}</div>
                <div class="location emphasis">{{city}}, {{state}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <!-- Footer and background -->
      <div class="footer">
        <div class="footer-copy">
          <span class="link">Send a message to your senator at <span class="url">lameduck.heritageaction.com</span></span>
        </div>
        <div class="dynamic footer-background"></div>
      </div>
      <div class="card-outline"></div>
      <div class="overlay"></div>

    </div>

  </body>
</html>